---
import Banner from "../components/Banner.astro";
import { ABOUT_DESCRIPTION, ABOUT_TITLE } from "../consts";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title={ABOUT_TITLE} description={ABOUT_DESCRIPTION}>
  <Banner text="About" slot="banner" />
  <p>
    All about me. Goes into depth, timeline, skills, not all work related
    things.
  </p>
</RootLayout>
