---
import RootLayout from "../layouts/RootLayout.astro";
import { ROOT_TITLE, ROOT_DESCRIPTION } from "../consts";
---

<RootLayout title={ROOT_TITLE} description={ROOT_DESCRIPTION}>
  <p>Home page. Picture, brief summary, links, recent posts.</p>
</RootLayout>
