---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aspernatur,
    quae neque, aliquid modi tempore eaque dicta debitis provident libero
    voluptas, quod impedit tempora. Maiores molestias voluptatibus expedita.
    Impedit sed velit rem minima dolorum quae cum consectetur repellat dicta
    adipisci! Voluptatem illum voluptas nisi cum necessitatibus. Perferendis
    sint, alias reiciendis, omnis ratione voluptatum possimus libero nisi
    officia dolorem qui modi a laborum corrupti nostrum nulla, obcaecati
    veritatis quod aperiam! Voluptatum suscipit vel fugiat animi. Blanditiis
    laboriosam quasi recusandae vero eos! Quidem pariatur obcaecati velit vitae
    tempore vel eos. Magnam excepturi nemo accusantium id, assumenda beatae
    incidunt quos! Ratione pariatur distinctio quis ipsam iure nostrum
    repellendus? Veniam voluptatem nihil, accusamus maxime sequi enim? Sunt
    possimus, harum laudantium sint soluta ex modi ipsa asperiores dolor ullam
    unde aliquid! Vitae a tempora voluptas beatae pariatur nesciunt ab at enim
    facere. Sapiente, quaerat facilis at accusantium reprehenderit, quo magnam
    harum tenetur perspiciatis voluptas tempora.
  </p>
</RootLayout>
