---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aspernatur,
    quae neque, aliquid modi tempore eaque dicta debitis provident libero
    voluptas, quod impedit tempora. Maiores molestias voluptatibus expedita.
    Impedit sed velit rem minima dolorum quae cum consectetur repellat dicta
    adipisci! Voluptatem illum voluptas nisi cum necessitatibus. Perferendis
  </p>
</RootLayout>
