---
type Props = {
  text: string;
  bg?: "bg-wavy-pattern" | "bg-zigzag-pattern";
};

const { text, bg } = Astro.props;
---

<div class:list={["border-b border-black bg-repeat", bg]}>
  <div class="mx-auto max-w-3xl px-4 py-14 sm:px-6 lg:px-8">
    <h1 class="font-mono text-5xl font-bold">{text.toUpperCase()}</h1>
  </div>
</div>
