---
import HeaderLink from "./HeaderLink.astro";
import { ROOT_TITLE } from "../consts";
const { pathname } = Astro.url;
---

<header class="sticky top-0 z-50 border-b border-black bg-white shadow-md">
  <div class="mx-auto max-w-3xl px-4 pb-4 pt-4 font-mono sm:px-6 lg:px-8">
    <nav class="flex items-center justify-between gap-6">
      <h2
        class:list={[
          pathname === "/" && "font-bold underline",
          "whitespace-nowrap hover:underline",
        ]}
      >
        <a href="/">{ROOT_TITLE.toUpperCase()}</a>
      </h2>
      <div class="flex gap-3">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>
    </nav>
  </div>
</header>
