---
type Props = {
  italic?: boolean;
};

const { italic } = Astro.props;
---

<div
  class:list={[
    "rounded-sm bg-zinc-100 px-1.5 py-0.5 font-mono text-sm text-zinc-500",
    italic && "italic",
  ]}
>
  <slot />
</div>
